.navbar{
    background: #fff;
}
nav {
    display: flex;
    align-items: center;
}

.navbar { padding: 15px 0; }
.navbar ul { justify-content: flex-end; }
nav .navbar-brand { width: 200px; }
nav .navbar-brand img { width: 100%; }

nav ul li a {
    padding: 5px 15px!important;
    color: #424B5F;	
    font-family: "Open Sans";	
    font-size: 18px;	
    line-height: 24px;    
}

nav ul li:last-of-type a { 
    border-radius: 25px;
    margin-left: 15px;
}

nav ul li a:hover {
    border-radius: 50px;
    text-decoration: underline;
    color: #ACDDFD!important;
    animation-name: button-animation;
    background-color: #7866E5;
    animation-duration: .2s;
}