/* Site header (components/_site-header.scss)  */

/* Common Styling */
.container-fluid { padding: 0; }

.wrapper {
  width: 92%;
  margin: 0 auto;
}

ul { 
  padding: 0;
  margin: 0; 
}

li { list-style: none; }
a { display: inline-block; }
.uppercase-txt { text-transform: uppercase; }
.gradient-bg { background: linear-gradient(90deg,#40ceff,#5a2ff1); }
.container-fluid { padding: 0; }
.blue-txt { color: #46abfc !important; }
.white-txt { color: #fff; }
.row { margin: 0; }
.bold { font-weight: bold !important; }
.divider {
  padding-top: 25px;
  border-top: 2px solid #f1f1f1;  
  margin-top: 25px;
}

/* ----- Navigation ----- */
nav { 
	padding: 15px 0;
	.navbar-brand {
		width: 200px;
		border: none;
		display: inline-block;;
	}
	ul { 
		display: flex;
		align-items: center;
		justify-content: flex-end; 
		li {
			padding: 0; 
			margin: 0;
			&:nth-child(2) {
				a { color: #46abfc; }
			}
			&:last-of-type {
				a { 
  				border-radius: 25px;
  				margin-left: 5px;
  				background: linear-gradient(90deg,#40ceff,#5a2ff1);
  				color: #fff;
  			}
			}
			&:before {
				content: '';
				display: block;
			}
			a {
				border-bottom: none;
  			padding: 5px 15px!important;
  			color: #7a7a7a;
  			font-size: 17px;
  			font-weight: 500;  
  			&:hover {
				  border-radius: 50px;
				  color: #fff!important;
				  animation-name: button-animation;
				  background-color: #61abfd;
				  animation-duration: .2s;
				}
			}
		}
	}
}

/* ----- Offcanvas ----- */
.offcanvas {
	overflow: hidden;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: $color-white;
	position: fixed;
	top: 0;
	bottom: 0;
	opacity: 0;
	visibility: hidden;
	@include translate(0, -1.875rem);
	transition: transform .2s, opacity .2s, visibility .2s;
	z-index: $z-index-offcanvas;

	.offcanvas-expanded & {
		opacity: 1;
		visibility: visible;
		@include translate(0, 0);
	}
}

/* ----- Offcanvas navigation ----- */
.offcanvas__nav {
	height: 100%;
	overflow: scroll;
	padding-top: 5rem;
	padding-bottom: 5rem;
	-webkit-overflow-scrolling: touch;

	li {
		padding: 0;

		&::before {
			display: none;
		}

		+ li {
			margin-top: 1.25rem;
		}
	}

	a {
		@include link-reset;
		color: $color-dark-blue;
		font-family: $font-family-secondary;
		text-transform: uppercase;
		&:hover {
			padding: 6px 24px 4px;
			border-radius: 50px;
		  color: #fff!important;
		  animation-name: button-animation;
		  background-color: #61abfd;
		  animation-duration: .2s;
		}
	}
}

/* ----- Offcanvas toggle ----- */
.offcanvas-toggle {
	height: calc(5.625rem - 1px);
	width: 5.625rem;
	cursor: pointer;
	position: fixed;
	right: 0;
	top: 0;
	@include translate3d(0, 0, 0);
	z-index: $z-index-offcanvas-toggle;

	span {
		display: block;
		height: 2px;
		width: 1.875rem;
		background-color: $color-dark-blue;
		position: absolute;
		left: 1.875rem;
		transition: top .2s, transform .2s, opacity .2s;

		&:first-child {
			top: 2.125rem;
		}

		&:nth-child(2) {
			top: 2.6875rem;
		}

		&:last-child {
			top: 3.25rem;
		}
	}

	.offcanvas-expanded & {
		span {
			&:first-child,
			&:last-child {
				top: 2.6875rem;
			}

			&:first-child {
				@include rotate(45);
			}

			&:last-child {
				@include rotate(-45);
			}

			&:nth-child(2) {
				opacity: 0;
			}
		}
	}
}

@media(max-width: 895px) {
	nav ul li a {
		padding: 5px 10px !important;
		font-size: 14px;
	}
}

@media only screen and (max-width: 768px) {
    .desktop-header { display: none; }
    .hamburger-menu { display: block; }
}