<!DOCTYPE html>
<html>
    <head>
        {% include site-head.html %}
    </head>
    <body class="{{ site.snet.color_theme }}" data-spy="scroll" data-target=".js-scrollspy">
        {% include site-header.html %}    

        <div class="wrapper">
            <div class="container-fluid mt-3">
                <div class="row">
                    <div class="d-none d-sm-block col-sm-3">
                        <div class="snet-card">
                            <h3 class="snet-card_title">Explore</h3>
                            <div class="snet-card_content">
                                <ul class="snet-nav_list">

                                    {% assign path_crumbs = page.path | split: "/" %}                          
                                    {% case path_crumbs[0] %}
                                    {% when 'docs' %}
                                    {% case path_crumbs[1] %}
                                    {% when 'concepts' %}
                                    {% assign nav_tree = site.data.navigation.concepts %}
                                    {% when 'provider.md' %}
                                    {% assign nav_tree = site.data.navigation.provider %}
                                    {% when 'buyer.md' %}
                                    {% assign nav_tree = site.data.navigation.buyer %}
                                    {% else %}
                                    {% assign nav_tree = site.data.navigation.docs %}                                      
                                    {% endcase %}            
                                    {% when 'tutorials' %}
                                    {% assign nav_tree = site.data.navigation.tutorials %}
                                    {% when 'contribute' %}
                                    {% assign nav_tree = site.data.navigation.contribute %}                                        
                                    {% else %}
                                    {% assign nav_tree = nil %}
                                    {% endcase %}  

                                    {%if nav_tree %}                                                                           
                                    {% for menu in nav_tree %}
                                    {% assign menu_url = menu[1].url | split: "/" %}
                                    {% assign menu_url_last_inx = path_url.size | minus: 1 %}
                                    {% assign file_name = menu_url[menu_url_last_inx] | append: ".md" %}
                                    {% if path_crumbs[2] == file_name %}
                                    <li class="active">
                                        <a href="{{ menu[1].url }}">{{ menu[1].title }}</a>
                                    </li>
                                    {% else %}
                                    <li>
                                        <a href="{{ menu[1].url }}">{{ menu[1].title }}</a>
                                    </li>
                                    {% endif %}

                                    {% endfor %}
                                    {% endif %}                                   
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="snet-card">
                            <div class="snet-card_wrapper">
                                 <ul class="snet-breadcrumb">
                                    {% capture url_tree %}
                                    {{ page.url | replace: '/', ' ' | strip }}
                                    {% endcapture %}
                                    {% capture url_level %}
                                    {{ url_tree | number_of_words | minus: 1 }}
                                    {% endcapture %}
                                    {% assign breadcrumb = url_tree | split: ' ' %}                                    
                                    <li> <a href="{{ site.baseurl }}">Home</a></li>

                                    {% for item in breadcrumb %}
                                    {% assign label = item | replace: '-', ' ' | capitalize %}
                                    {% assign index = forloop.length | minus: forloop.index %}
                                    {% assign page_url = page.url | split: '/' | pop: index | join: '/' %}
                                    <li>
                                        {% if forloop.last %}
                                        <span>{{ page.breadcrumb_label | default: label }}</span>
                                        {% else %}
                                        <a href="{{ page_url }}/">{{ label }}</a>
                                        {% endif %}
                                    </li>
                                    {% endfor %}                                    
                                </ul>
                            </div>
                            <div class="snet-card_content">
                                <div class="snet-card_maincontents">
                                    <h2>AI Developers</h2>
                                    <p>
                                        The SingularityNET guides are step-by-step walkthroughs that help you get started. Choose your starting level of experience below.                                        
                                    </p>
                                    <h3>For Beginners</h3>
                                    <p>
                                        The best place to start is with the get started.  Build models by plugging together building blocks. After these tutorials, read the this.                                        
                                    </p>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="snet-card inner-card">                      
                                                <h2 class="snet-card_title">Beginner Quickstart</h2>
                                                <div class="snet-card_wrapper border-0"> 
                                                    <div class="snet-flex">                                     
                                                        <p class="snet-card_paragraph">Lorem ipsum dolor sit amet, saperet pertinax duo in, id alii sententiae vel. Unum facilis ius an, ad sed idque vitae accommodare,</p>                                      
                                                    </div>                                                                
                                                </div>
                                            </div> 
                                        </div>
                                        <div class="col-6">
                                            <div class="snet-card inner-card">                      
                                                <h2 class="snet-card_title">Daemon Basics</h2>
                                                <div class="snet-card_wrapper border-0"> 
                                                    <div class="snet-flex">                                     
                                                        <p class="snet-card_paragraph">Lorem ipsum dolor sit amet, saperet pertinax duo in, id alii sententiae vel. Unum facilis ius an, ad sed idque vitae accommodare,</p>                                      
                                                    </div>                                                                
                                                </div>
                                            </div> 
                                        </div>
                                        <div class="col-6 pt-3">
                                            <div class="snet-card inner-card">                      
                                                <h2 class="snet-card_title">Next Thing To Do</h2>
                                                <div class="snet-card_wrapper border-0"> 
                                                    <div class="snet-flex">                                     
                                                        <p class="snet-card_paragraph">Lorem ipsum dolor sit amet, saperet pertinax duo in, id alii sententiae vel. Unum facilis ius an, ad sed idque vitae accommodare,</p>                                      
                                                    </div>                                                                
                                                </div>
                                            </div> 
                                        </div>
                                        <div class="col-6 pt-3">
                                            <div class="snet-card inner-card">                      
                                                <h2 class="snet-card_title">Another Thing To Do</h2>
                                                <div class="snet-card_wrapper border-0"> 
                                                    <div class="snet-flex">                                     
                                                        <p class="snet-card_paragraph">Lorem ipsum dolor sit amet, saperet pertinax duo in, id alii sententiae vel. Unum facilis ius an, ad sed idque vitae accommodare,</p>                                      
                                                    </div>                                                                
                                                </div>
                                            </div> 
                                        </div>
                                    </div> 
                                    <p class="spacer"></p>
                                    <h3>For Experts</h3>
                                    <p>
                                        The best place to start is with the get started.  Build models by plugging together building blocks. After these tutorials, read the this.
                                    </p>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="snet-card inner-card">                      
                                                <h2 class="snet-card_title">Advanced Quickstart</h2>
                                                <div class="snet-card_wrapper border-0"> 
                                                    <div class="snet-flex">                                     
                                                        <p class="snet-card_paragraph">Lorem ipsum dolor sit amet, saperet pertinax duo in, id alii sententiae vel. Unum facilis ius an, ad sed idque vitae accommodare,</p>                                      
                                                    </div>                                                                
                                                </div>
                                            </div> 
                                        </div>
                                        <div class="col-6">
                                            <div class="snet-card inner-card">                      
                                                <h2 class="snet-card_title">Daemon Advance</h2>
                                                <div class="snet-card_wrapper border-0"> 
                                                    <div class="snet-flex">                                     
                                                        <p class="snet-card_paragraph">Lorem ipsum dolor sit amet, saperet pertinax duo in, id alii sententiae vel. Unum facilis ius an, ad sed idque vitae accommodare,</p>                                      
                                                    </div>                                                                
                                                </div>
                                            </div> 
                                        </div>
                                    </div>  
                                    <p class="spacer"></p>                                    
                                    <h3>Tool & Downloads</h3>
                                    <p>
                                        Make sure you have downloaded and installed the latest versions of these:
                                    </p>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="snet-card inner-card">                      
                                                <h2 class="snet-card_title">SNET Contracts</h2>
                                                <div class="snet-card_wrapper border-0"> 
                                                    <div class="snet-flex">                                     
                                                        <p class="snet-card_paragraph">Lorem ipsum dolor sit amet, saperet pertinax duo in, id alii sententiae vel. Unum facilis ius an, ad sed idque vitae accommodare,</p>                                      
                                                    </div>                                                                
                                                </div>
                                            </div> 
                                        </div>
                                        <div class="col-6">
                                            <div class="snet-card inner-card">                      
                                                <h2 class="snet-card_title">Daemon </h2>
                                                <div class="snet-card_wrapper border-0"> 
                                                    <div class="snet-flex">                                     
                                                        <p class="snet-card_paragraph">Lorem ipsum dolor sit amet, saperet pertinax duo in, id alii sententiae vel. Unum facilis ius an, ad sed idque vitae accommodare,</p>                                      
                                                    </div>                                                                
                                                </div>
                                            </div> 
                                        </div>
                                        <div class="col-6 pt-3">
                                            <div class="snet-card inner-card">                      
                                                <h2 class="snet-card_title">SNET Client</h2>
                                                <div class="snet-card_wrapper border-0"> 
                                                    <div class="snet-flex">                                     
                                                        <p class="snet-card_paragraph">Lorem ipsum dolor sit amet, saperet pertinax duo in, id alii sententiae vel. Unum facilis ius an, ad sed idque vitae accommodare,</p>                                      
                                                    </div>                                                                
                                                </div>
                                            </div> 
                                        </div>
                                        <div class="col-6 pt-3">
                                            <div class="snet-card inner-card">                      
                                                <h2 class="snet-card_title">Python SDK</h2>
                                                <div class="snet-card_wrapper border-0"> 
                                                    <div class="snet-flex">                                     
                                                        <p class="snet-card_paragraph">Lorem ipsum dolor sit amet, saperet pertinax duo in, id alii sententiae vel. Unum facilis ius an, ad sed idque vitae accommodare,</p>                                      
                                                    </div>                                                                
                                                </div>
                                            </div> 
                                        </div>
                                    </div>                                     
                                    <p class="spacer"></p>
                                    <div class="snet-forum_question text-center">
                                        <a href="#">Ask a question in the forum</a>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>                
                    <div class="col-xs-12 col-sm-3 order-first order-sm-last">
                        <div class="snet-card transparent d-none d-sm-block ">
                            <h4 class="snet-card_title">Was this page useful?</h4>
                            <div class="snet-card_content">
                                <div  class="snet-card_wrapper border-0">
                                    <div class="snet-starrating">
                                        <a href="#" class=""><i class="material-icons">star_border</i></a>  
                                        <a href="#" class=""><i class="material-icons">star_border</i></a>  
                                        <a href="#" class=""><i class="material-icons">star_border</i></a>  
                                        <a href="#" class=""><i class="material-icons">star_border</i></a>  
                                        <a href="#" class=""><i class="material-icons">star_border</i></a>                                                                              
                                    </div>
                                </div>
                                <div  class="snet-card_wrapper border-0">
                                    <a href="#" class="d-block mb-2 snet-card_feedbacklinks">Send Feedback</a>
                                    <a href="#" class="d-block snet-card_feedbacklinks">Suggest Page Edits</a>                                    
                                </div>
                            </div>
                        </div>                          
                    </div>                      
                </div>              
            </div>
        </div>
        {% include site-footer.html %}        

        <script type="text/javascript" src="{% if jekyll.environment == 'production' %}{{ site.snet.baseurl }}{% endif %}/theme/assets/js/vendor/bootstrap/affix.min.js"></script>
        <script type="text/javascript" src="{% if jekyll.environment == 'production' %}{{ site.snet.baseurl }}{% endif %}/theme/assets/js/vendor/bootstrap/scrollspy.min.js"></script>
        <script type="text/javascript" src="{% if jekyll.environment == 'production' %}{{ site.snet.baseurl }}{% endif %}/theme/assets/js/vendor/matchHeight.min.js"></script>
        <script type="text/javascript" src="{% if jekyll.environment == 'production' %}{{ site.snet.baseurl }}{% endif %}/theme/assets/js/scripts.js"></script>

    </body>
</html>
