<!DOCTYPE html>
<html>
    <head>
        {% include site-head.html %}
    </head>
    <body class="{{ site.snet.color_theme }}" data-spy="scroll" data-target=".js-scrollspy">
        {% include site-header.html %}


        <div class="breadcrumbs-container">
            <div class="wrapper">
                {% capture url_tree %}
                {{ page.url | replace: '/', ' ' | strip }}
                {% endcapture %}
                {% capture url_level %}
                {{ url_tree | number_of_words | minus: 1 }}
                {% endcapture %}
                {% assign breadcrumb = url_tree | split: ' ' %}
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{{ site.baseurl }}">Home</a>
                    </li>
                    {% for item in breadcrumb %}
                    {% assign label = item | replace: '-', ' ' | capitalize %}
                    {% assign index = forloop.length | minus: forloop.index %}
                    {% assign page_url = page.url | split: '/' | pop: index | join: '/' %}
                    <li class="breadcrumb-item">
                        {% if forloop.last %}
                        <span>{{ page.breadcrumb_label | default: label }}</span>
                        {% else %}
                        <a href="{{ page_url }}/">{{ label }}</a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <main>
            <div class="row">
                <!-- Left Side Section -->


                <!-- Left Side Section -->
                <div class="col-md-3 side-nav">
                    <span class="bold uppercase-txt">categories</span>
                    <div class="vertical-navigation">

                        <div id="Getting_Started" class="tab-details">
                            <ul>
                                {% assign path_crumbs = page.path | split: "/" %}                          
                                {% case path_crumbs[0] %}
                                {% when 'docs' %}
                                {% case path_crumbs[1] %}
                                {% when 'concepts' %}
                                {% assign nav_tree = site.data.navigation.concepts %}
                                {% when 'provider.md' %}
                                {% assign nav_tree = site.data.navigation.provider %}
                                {% when 'buyer.md' %}
                                {% assign nav_tree = site.data.navigation.buyer %}
                                {% else %}
                                {% assign nav_tree = site.data.navigation.docs %}                                      
                                {% endcase %}            
                                {% when 'tutorials' %}
                                {% assign nav_tree = site.data.navigation.tutorials %}
                                {% when 'contribute' %}
                                {% assign nav_tree = site.data.navigation.contribute %}                                        
                                {% else %}
                                {% assign nav_tree = nil %}
                                {% endcase %}  
                                <!-- <li class="list-inline">
                                     <a href="{{ path_crumbs[0] }}">{{ path_crumbs[0] }}</a>
                                 </li> 
                                 <li class="list-inline">
                                     <a href="{{ nav_tree }}">{{ nav_tree }}</a>
                                 </li>                                    -->
                                {%if nav_tree %}                                                                           
                                {% for menu in nav_tree %}
                                <li class="list-inline">
                                    <a href="{{ menu[1].url }}">{{ menu[1].title }}</a>
                                </li>
                                {% endfor %}
                                {% endif %}
                            </ul>
                        </div>

                    </div>
                </div>                


                <!-- Center Section -->
                <div class="col-md-6 requirement-details main-content">

                    {{ content }}
                </div>  

                <div class="col-md-3 on-this-page-wrapper">
                    <div class="on-this-page">
                        <span class="uppercase-txt bold">on this page</span>
                        <div class="sections-list js-sections">
                        </div>                           
                    </div>
                </div>



            </div>
        </main>




        <div class="js-footer-area">



            {% if jekyll.environment == "production" and page.comments == true and site.snet.comments.disqus_forum_shortname %}
            <div class="section section--grey">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            {% include comments.html %}
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.section -->
            {% endif %}
            {% include site-footer.html %}
        </div><!-- /.js-footer-area -->
    </body>
</html>
