<!DOCTYPE html>
<html>
    <head>
        {% include site-head.html %}
    </head>
    <body class="{{ site.snet.color_theme }}" data-spy="scroll" data-target=".js-scrollspy">
        {% include site-header.html %}       

        <div class="wrapper">
            <div class="container-fluid">
                <div class="row mt-4">
                    <div class="col-3">
                        <h1 class="">Getting Started</h1>
                    </div>
                    <div class="col-6">
                        <span class="snet-tagline">
                            The best way is to get started to understanding the AI services on decentralized blockchain marketplace.                            
                        </span>
                    </div>                    
                </div> 
                <div class="row">
                    <div class="col-3 pt-4">
                        <div class="snet-card full-height">  
                            <h2 class="snet-card_title">Core Concepts</h2>
                            <div class="snet-card_wrapper border-0">
                                <div class="snet-flex">
                                    <img class="snet-card_descriptionicon" src="http://placehold.jp/80x80.png">                                    
                                    <p class="snet-card_paragraph">Get the high level view how SNET’s platform works for you.</p>                                    
                                </div>                                
                                <ul class="snet-card_list">
                                    <li><a href="#">Get Started Guide</a></li>
                                    <li><a href="#">Concepts and Components</a></li>
                                    <li><a href="#">Basics of AI</a></li>
                                    <li><a href="#">View all</a></li>
                                </ul>                                 
                            </div>                           
                        </div>
                    </div>
                    <div class="col-3 pt-4">
                        <div class="snet-card full-height">                       
                            <h2 class="snet-card_title">AI Developers</h2>
                            <div class="snet-card_wrapper border-0">  
                                <div class="snet-flex">
                                    <img class="snet-card_descriptionicon" src="http://placehold.jp/80x80.png">                                    
                                    <p class="snet-card_paragraph">Learn how to publish and manage AI services to collect AGI tokens.</p>                                    
                                </div>                                                                
                                <ul class="snet-card_list">
                                    <li><a href="#">Get Started Guide</a></li>
                                    <li><a href="#">For Beginner</a></li>
                                    <li><a href="#">For Advance Users</a></li>
                                    <li><a href="#">View all</a></li>
                                </ul>    
                            </div>
                        </div>                        
                    </div>
                    <div class="col-3 pt-4">
                        <div class="snet-card full-height">                        
                            <h2 class="snet-card_title">Platform Developers</h2>
                            <div class="snet-card_wrapper border-0">  
                                <div class="snet-flex">
                                    <img class="snet-card_descriptionicon" src="http://placehold.jp/80x80.png">                                    
                                    <p class="snet-card_paragraph">Learn how to publish and manage AI services to collect AGI tokens.</p>                                    
                                </div>                                                                
                                <ul class="snet-card_list">
                                    <li><a href="#">Get Started Guide</a></li>
                                    <li><a href="#">For Beginner</a></li>
                                    <li><a href="#">For Advance Users</a></li>
                                    <li><a href="#">View all</a></li>
                                </ul>  
                            </div>
                        </div>                        
                    </div>
                    <div class="col-3 pt-4">
                        <div class="snet-card full-height">                        
                            <h2 class="snet-card_title">AI Consumers</h2>
                            <div class="snet-card_wrapper border-0">
                                <div class="snet-flex">
                                    <img class="snet-card_descriptionicon" src="http://placehold.jp/80x80.png">                                    
                                    <p class="snet-card_paragraph">Learn how to use SNET AI Marketplace and integrate AI services</p>                                    
                                </div>                                                                      
                                <ul class="snet-card_list">
                                    <li><a href="#">Get Started Guide</a></li>
                                    <li><a href="#">For Beginner</a></li>
                                    <li><a href="#">For Advance Users</a></li>
                                    <li><a href="#">View all</a></li>
                                </ul>   
                            </div>
                        </div>                        
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-3">
                        <h1>By Product</h1>
                    </div>
                    <div class="col-6">
                        <span class="snet-tagline">
                            SingularityNET gives you the tools to develop high-quality AI apps, grow your user base, and earn more AGI tokens.                            
                        </span>                        
                    </div>                    
                </div> 
                <div class="row">
                    <div class="col-3 pt-4">
                        <div class="snet-card full-heights">  
                            <h2 class="snet-card_title">AI Marketplace</h2>
                            <div class="snet-card_wrapper border-0">   
                                <div class="snet-flex">
                                    <img class="snet-card_descriptionicon" src="http://placehold.jp/80x80.png">
                                    <p class="snet-card_paragraph">Get the high level view how SNET’s platform works for you.</p>                                    
                                </div>
                                <ul class="snet-card_list">
                                    <li><a href="#">Get Started Guide</a></li>
                                    <li><a href="#">Demoing services</a></li>
                                    <li><a href="#">Integrate AI into your Apps</a></li>
                                    <li><a href="#">View all</a></li>
                                </ul>    
                            </div>
                        </div>
                    </div>
                    <div class="col-3 pt-4">
                        <div class="snet-card full-heights">                       
                            <h2 class="snet-card_title">AI Publisher</h2>
                            <div class="snet-card_wrapper border-0">
                                <div class="snet-flex">
                                    <img class="snet-card_descriptionicon" src="http://placehold.jp/80x80.png">                                    
                                    <p class="snet-card_paragraph">Learn how to create, launch and manage AI services.</p>                                    
                                </div>                                      
                                <ul class="snet-card_list">
                                    <li><a href="#">Setting up your Organization</a></li>
                                    <li><a href="#">Creating new AI services</a></li>
                                    <li><a href="#">Configuring Regions & ETCD</a></li>
                                    <li><a href="#">View all</a></li>
                                </ul>    
                            </div>
                        </div>                        
                    </div>
                    <div class="col-3 pt-4">
                        <div class="snet-card full-height">                       
                            <h2 class="snet-card_title">Request For AI (RFAI)</h2>
                            <div class="snet-card_wrapper border-0">    
                                <div class="snet-flex">
                                    <img class="snet-card_descriptionicon" src="http://placehold.jp/80x80.png">                                    
                                    <p class="snet-card_paragraph">Learn how to request, back, and submit solutions for AI.</p>                                    
                                </div>                                      
                                <ul class="snet-card_list">
                                    <li><a href="#">Get Started Guide</a></li>
                                    <li><a href="#">Backing an AI Request</a></li>
                                    <li><a href="#">Submitting Solutions</a></li>
                                    <li><a href="#">View all</a></li>
                                </ul>   
                            </div>
                        </div>                        
                    </div>
                </div>     
                <div class="row mt-5">
                    <div class="col-3">
                        <h1>By Platform</h1>
                    </div>
                    <div class="col-6">
                        <span class="snet-tagline">
                            SingularityNET works with programming languages you perfer.  Check out how to use them with the SNET clients.                            
                        </span>                        
                    </div>                    
                </div> 
                <div class="row">
                    <div class="col-3 pt-4">
                        <div class="snet-card">  
                            <h2 class="snet-card_title">C++</h2>
                            <div class="snet-card_wrapper border-0">                           
                                <div class="snet-flex">
                                    <img class="snet-card_descriptionicon" src="http://placehold.jp/80x80.png">                                         
                                    <p class="snet-card_paragraph">Learn how to use SingularityNet with C++.</p>                                    
                                </div>                                    
                            </div>
                        </div>
                    </div>
                    <div class="col-3 pt-4">
                        <div class="snet-card">                        
                            <h2 class="snet-card_title">Python</h2>
                            <div class="snet-card_wrapper border-0"> 
                                <div class="snet-flex">
                                    <img class="snet-card_descriptionicon" src="http://placehold.jp/80x80.png">                                       
                                    <p class="snet-card_paragraph">Learn how to use SingularityNet with Python.</p>                                     
                                </div>                                
                            </div>
                        </div>                        
                    </div>
                    <div class="col-3 pt-4">
                        <div class="snet-card">                        
                            <h2 class="snet-card_title">Java</h2>
                            <div class="snet-card_wrapper border-0">
                                <div class="snet-flex">
                                    <img class="snet-card_descriptionicon" src="http://placehold.jp/80x80.png">                                       
                                    <p class="snet-card_paragraph">Learn how to use SingularityNet with Java.</p>                                     
                                </div>                                                                
                            </div>
                        </div>                        
                    </div>
                    <div class="col-3 pt-4">
                        <div class="snet-card">                      
                            <h2 class="snet-card_title">GO</h2>
                            <div class="snet-card_wrapper border-0"> 
                                <div class="snet-flex">
                                    <img class="snet-card_descriptionicon" src="http://placehold.jp/80x80.png">                                       
                                    <p class="snet-card_paragraph">Learn how to use SingularityNet with GO.</p>                                      
                                </div>                                                                
                            </div>
                        </div>                        
                    </div>
                    <div class="col-3 pt-4">
                        <div class="snet-card">                        
                            <h2 class="snet-card_title">OpenCog</h2>
                            <div class="snet-card_wrapper border-0">
                                <div class="snet-flex">
                                    <img class="snet-card_descriptionicon" src="http://placehold.jp/80x80.png">                                       
                                    <p class="snet-card_paragraph">Learn how to use SingularityNet with OpenCog.</p>                                      
                                </div>                                                                  
                            </div>
                        </div>                        
                    </div>                    
                </div>                     
                <div class="row mt-5">
                    <div class="col-3">
                        <h1>By Tools & Resources</h1>
                    </div>
                    <div class="col-6">
                        <span class="snet-tagline">
                            Get the latest updates and downloads of the software and tools you need to run and manage your AI services.                            
                        </span>                        
                    </div>                    
                </div>                 
                <div class="row row-eq-height">
                    <div class="col-3 pt-4">
                        <div class="snet-card full-height">
                            <h2 class="snet-card_title ">SNET Contracts</h2>
                            <img class="snet-card_descriptionicon big" src="http://placehold.jp/290x160.png">  
                            <div class="snet-card_wrapper border-0 overflow-hidden">                           
                                <p class="snet-card_paragraph">Get the latest contract release from SingularityNet, so that your services run efficiently with the platform.</p>
                                <a class="float-left" href="#">Download</a> <a class="float-right"  href="#">Install Guide</a>         
                            </div>
                        </div>
                    </div>
                    <div class="col-3 pt-4">
                        <div class="snet-card full-height">                       
                            <h2 class="snet-card_title">Daemon</h2>
                            <img class="snet-card_descriptionicon big" src="http://placehold.jp/290x160.png">                              
                            <div class="snet-card_wrapper border-0 overflow-hidden">                           
                                <p class="snet-card_paragraph">Its important to use the latest daemon when you confiigure AI services.  </p>
                                <a class="float-left" href="#">Download</a> <a class="float-right"  href="#">Install Guide</a>         
                            </div>
                        </div>                        
                    </div>
                    <div class="col-3 pt-4 full-height">
                        <div class="snet-card">                      
                            <h2 class="snet-card_title">SNET Client</h2>
                            <img class="snet-card_descriptionicon big" src="http://placehold.jp/290x160.png">                              
                            <div class="snet-card_wrapper border-0 overflow-hidden">
                                <p class="snet-card_paragraph">Lorem ipsum dolor sit amet, feugait oportere ex nec. Id cum choro ancillae. Homero disputationi eum id. Quaeque eripuit alterum id eum, ad eius assum.</p>
                                <a class="float-left" href="#">Download</a> <a class="float-right"  href="#">Install Guide</a>          
                            </div>
                        </div>                        
                    </div>
                    <div class="col-3 pt-4">
                        <div class="snet-card full-height">                      
                            <h2 class="snet-card_title">Python SDK</h2>
                            <img class="snet-card_descriptionicon big" src="http://placehold.jp/290x160.png">                              
                            <div class="snet-card_wrapper border-0 overflow-hidden">
                                <p class="snet-card_paragraph">Lorem ipsum dolor sit amet, feugait oportere ex nec. Id cum choro ancillae. Homero disputationi eum id. Quaeque eripuit alterum id eum, ad eius assum.</p>                                
                                <a class="float-left" href="#">Download</a> <a class="float-right"  href="#">Install Guide</a>                                      
                            </div>                            
                        </div>                        
                    </div>
                </div>                    
            </div>
        </div>
        {% include site-footer.html %}        

        <script type="text/javascript" src="{% if jekyll.environment == 'production' %}{{ site.snet.baseurl }}{% endif %}/theme/assets/js/vendor/bootstrap/affix.min.js"></script>
        <script type="text/javascript" src="{% if jekyll.environment == 'production' %}{{ site.snet.baseurl }}{% endif %}/theme/assets/js/vendor/bootstrap/scrollspy.min.js"></script>
        <script type="text/javascript" src="{% if jekyll.environment == 'production' %}{{ site.snet.baseurl }}{% endif %}/theme/assets/js/vendor/matchHeight.min.js"></script>
        <script type="text/javascript" src="{% if jekyll.environment == 'production' %}{{ site.snet.baseurl }}{% endif %}/theme/assets/js/scripts.js"></script>        
    </body>
</html>
