/**
 * Site footer (components/_site-footer.scss)
 */

/* ----- General ----- */
.site-footer {
	background-color: $color-footer-bg;
	padding: 3.75rem 0 1rem 0;

	hr {
		width: 5.625rem;
	}
	color: $color-footer-copyright;

	ul li::before {
		display: none;
	}

	ul li {
		padding-left: 0;
	}

	a {
		list-style: none;
		list-style-type: none;
		border-bottom: none;
	}
}

/* ----- Logo ----- */
.site-footer__logo {
	@include link-reset;
	display: inline-block;
	color: $color-footer-copyright;
	font-family: $font-family-secondary;
	font-size: $font-size-h3;
	font-weight: 700;
	vertical-align: top;
	margin: 0 0 1.25rem 0;

	img {
		display: block;
		width: 15.625rem;
	}
}

/* ----- Copyright ----- */
.site-footer__copyright {
	color: $color-footer-copyright;
	font-size: .875em;
	line-height: $line-height-base;
}

.footer-right {
	float: right;
	text-align: right;
}


.footer-left {
	float: left;
}

.row.copyright {
	border-top: 1px solid #3e3e3e;
	padding-top: 2%;
	margin-top: 2%;

}
.footer-links h6,
.footer-links li a,
.footer-links a {
	list-style-type: none;
	color: $color-footer-copyright;
	text-decoration: none;
	border-bottom: none;
}

.site-footer h6 {
	font-weight:700;
	text-transform: uppercase;
	margin-top: 1rem;
}

.col-sm-3.first {
	border-right: 1px solid #3e3e3e;
	padding-right: 5%;
}
