/**
 * Section (objects/_section.scss)
 */

/* ----- General ----- */
.section {
	padding: 3.75rem 0 (3.75rem - 1.25rem) 0;

	@media (min-width: $screen-sm-min) {
		padding: 4.25rem 0 (6.25rem - 1.25rem) 0;
	}
}

/* ----- Variations ----- */
.section--darker-theme-color-bg {
	background: -webkit-radial-gradient(left top , circle cover , rgb(12, 180, 206) 9% , rgb(0, 108, 255) 48% , rgb(100, 66, 255) 91%);
}

.section--grey {
	background-color: $color-section-grey;
}
