:root {
  --vp-c-white: #ffffff;
  --vp-c-lightgray: #d3cfcf;
  --vp-c-gray: #3C3C43;
  --vp-c-darkgray: #242428;
  --vp-c-black: #121212;
  --vp-c-purple: #220D3A;
  --vp-c-accent: #4086FF;

  --vp-c-default-1: var(--vp-c-gray-1);
  --vp-c-default-2: var(--vp-c-gray-2);
  --vp-c-default-3: var(--vp-c-gray-3);
  --vp-c-default-soft: var(--vp-c-gray-soft);

  --vp-c-brand-1: var(--vp-c-indigo-1);
  --vp-c-brand-2: var(--vp-c-indigo-2);
  --vp-c-brand-3: var(--vp-c-indigo-3);
  --vp-c-brand-soft: var(--vp-c-indigo-soft);

  --vp-c-tip-1: var(--vp-c-brand-1);
  --vp-c-tip-2: var(--vp-c-brand-2);
  --vp-c-tip-3: var(--vp-c-brand-3);
  --vp-c-tip-soft: var(--vp-c-brand-soft);

  --vp-c-warning-1: var(--vp-c-yellow-1);
  --vp-c-warning-2: var(--vp-c-yellow-2);
  --vp-c-warning-3: var(--vp-c-yellow-3);
  --vp-c-warning-soft: var(--vp-c-yellow-soft);

  --vp-c-danger-1: var(--vp-c-red-1);
  --vp-c-danger-2: var(--vp-c-red-2);
  --vp-c-danger-3: var(--vp-c-red-3);
  --vp-c-danger-soft: var(--vp-c-red-soft);
  --vp-button-brand-border: transparent;
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand-3);
  --vp-button-brand-hover-border: transparent;
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-2);
  --vp-button-brand-active-border: transparent;
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-c-brand-1);
  --vp-custom-block-tip-border: transparent;
  --vp-custom-block-tip-text: var(--vp-c-text-1);
  --vp-custom-block-tip-bg: var(--vp-c-brand-soft);
  --vp-custom-block-tip-code-bg: var(--vp-c-brand-soft);
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg,
      #bd34fe 30%,
      #41d1ff);

  --vp-home-hero-image-background-image: linear-gradient(-45deg,
      #bd34fe 50%,
      #47caff 50%);
  --vp-home-hero-image-filter: blur(44px);

  --vp-nav-height: 70px;
  --vp-nav-logo-height: 45px;
  --default-padding: 32px;
  /* --vp-layout-max-width: 1800px; */
}

@font-face {
  font-family: 'Mulish';
  src: url(/assets/fonts/Mulish-Light.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Mulish";
  src: url(/assets/fonts/Mulish-Regular.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Mulish";
  src: url(/assets/fonts/Mulish-Medium.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Mulish';
  src: url(/assets/fonts/Mulish-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Mulish';
  src: url(/assets/fonts/Mulish-ExtraBold.ttf);
  font-weight: 800;
  font-style: normal;
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }
}

* {
  scroll-behavior: smooth;
}

.wrapper {
  padding: 0 32px !important;
}

.container {
  max-width: calc(var(--vp-layout-max-width) - (var(--default-padding) * 2));
  margin: auto;
}

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand-1) !important;
}

header span {
  font-size: 22px;
  user-select: none;
}

.vpi-more-horizontal.icon {
  background: var(--vp-c-white);
}

header a.active,
header span:hover,
.title span,
.dark div.titles span,
.dark .VPNavScreenMenuLink,
.dark .VPNavScreenMenuLink,
.dark .VPNavScreenMenuGroup span{
  color: var(--vp-c-white) !important
}

div.titles span,
.VPNavScreenMenu.menu nav,
.VPNavScreenMenuGroup span {
  color: var(--vp-c-black) !important
}

header a.VPLink.link.VPNavBarMenuLink,
header button span,
.vpi-chevron-down.text-icon {
  color: var(--vp-c-lightgray)
}

.vp-doc.container {
  padding: 0 32px;
  max-width: calc(var(--vp-layout-max-width) - 64px)
}


.dark .VPNavBar.has-sidebar.top,
.dark .content-body,
.dark .VPNavBar .wrapper {
  background: var(--vp-c-black) !important;
}

.VPNavBarTitle.has-sidebar .title {
  border-bottom-color: transparent !important;
}

.content-body,
.VPNavBar .wrapper {
  background: var(--vp-c-purple) !important;
}

.VPContent.is-home {
  background-image: url(/assets/images/common/background_home.png) !important;
}

.items {
  margin-left: 15px;
}

.items h3 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.VPSidebarItem.level-2.is-link p {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

img {
  margin: auto;
}

.VPNavBarMenu.menu span,
.VPNavScreenMenu.menu span,
.VPLink.link.VPNavScreenMenuLink{
  font-size: 16px;
}


body {
  font-family: Mulish;
}

.VPNavBarMenu.menu span {
  font-weight: 500 !important;
}

.content-body .container span,
.dark .vp-icon.DocSearch-Search-Icon {
  background: var(--vp-c-white) !important;
}

.vp-icon.DocSearch-Search-Icon {
  background: var(--vp-c-default-1);
}

.VPNavBarSearch {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.VPNav .container {
  justify-content: right;
}

.VPNavBar.has-sidebar .title {
  position: unset !important;
}

.DocSearch-Button-Keys {
  display: none !important;
}

.VPContent.has-sidebar+footer {
  display: none;
}