/* 
    Created on  : Jan 15, 2020, 12:12:14 PM
    Author      : Sujith Varma [sujith.varma@singularitynet.io]
    NOTES       : THIS FILES NEEDS OPTIMIZATION
*/
body{
    margin:0;
    padding: 0;
    background: #fafafa;
    color: #212121;    
    font-family:Muli,sans-serif;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    padding-bottom:30px;
}
section{
    background: #eee;
    margin-bottom: 64px;
}