/* 
    Created on  : Jan 15, 2020, 12:12:14 PM
    Author      : Sujith Varma [sujith.varma@singularitynet.io]
    NOTES       : THIS FILES NEEDS OPTIMIZATION
*/
body {
  margin: 0;
  padding: 0;
  background: #fafafa;
  color: #212121;
  font-family: Muli,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

header {
  background-color: #220D3A; }
  header .snet-navbar_primary {
    padding: 12px 65px 4px 60px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
    /*
    .dropdown:hover>.dropdown-menu {
        display: block;
        margin: -0.125rem 0 0;            
    } 
    */ }
    header .snet-navbar_primary h1 {
      font-size: 16px; }
    header .snet-navbar_primary .navbar-toggler-icon i {
      color: #fff; }
    header .snet-navbar_primary .navbar-brand {
      margin: 0;
      padding: 0; }
      header .snet-navbar_primary .navbar-brand img {
        width: 172px; }
    header .snet-navbar_primary .snet-navbar_menu,
    header .snet-navbar_primary .snet-navbar_login {
      margin-bottom: 10px; }
      header .snet-navbar_primary .snet-navbar_menu .nav-item,
      header .snet-navbar_primary .snet-navbar_login .nav-item {
        margin-right: 40px;
        position: relative; }
      header .snet-navbar_primary .snet-navbar_menu .nav-item:last-child,
      header .snet-navbar_primary .snet-navbar_login .nav-item:last-child {
        margin-right: 0px; }
    header .snet-navbar_primary .snet-navbar_menu .nav-item {
      cursor: pointer; }
      header .snet-navbar_primary .snet-navbar_menu .nav-item .snet_slidingDropdown {
        position: absolute;
        min-width: 100%;
        width: auto;
        background-color: #220D3A;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in;
        z-index: 1025; }
        header .snet-navbar_primary .snet-navbar_menu .nav-item .snet_slidingDropdown a {
          font-size: 14px;
          padding: 10px !important;
          color: #9B9B9B;
          border-bottom: 2px solid #220D3A; }
          header .snet-navbar_primary .snet-navbar_menu .nav-item .snet_slidingDropdown a:hover {
            color: #220D3A; }
      header .snet-navbar_primary .snet-navbar_menu .nav-item.active a, header .snet-navbar_primary .snet-navbar_menu .nav-item:hover a {
        color: #fff;
        border-bottom: 2px solid #fff; }
      header .snet-navbar_primary .snet-navbar_menu .nav-item.active .snet_slidingDropdown, header .snet-navbar_primary .snet-navbar_menu .nav-item:hover .snet_slidingDropdown {
        background-color: #220D3A;
        max-height: 200px; }
        header .snet-navbar_primary .snet-navbar_menu .nav-item.active .snet_slidingDropdown a, header .snet-navbar_primary .snet-navbar_menu .nav-item:hover .snet_slidingDropdown a {
          padding: 10px !important;
          color: #9B9B9B;
          border-bottom: 2px solid #220D3A; }
          header .snet-navbar_primary .snet-navbar_menu .nav-item.active .snet_slidingDropdown a:hover, header .snet-navbar_primary .snet-navbar_menu .nav-item:hover .snet_slidingDropdown a:hover {
            color: #220D3A; }
      header .snet-navbar_primary .snet-navbar_menu .nav-item a {
        color: #9B9B9B;
        font-size: 16px;
        margin: 0 !important;
        padding: 0 0 4px 0 !important;
        border-bottom: 2px solid #220D3A; }
    header .snet-navbar_primary .snet-navbar_login {
      margin-bottom: 6px; }
      header .snet-navbar_primary .snet-navbar_login .nav-item {
        align-self: center; }
        header .snet-navbar_primary .snet-navbar_login .nav-item a {
          color: #fff;
          font-size: 16px;
          margin: 0 !important;
          padding: 0 !important; }
          header .snet-navbar_primary .snet-navbar_login .nav-item a.snet-button_outline {
            cursor: pointer;
            padding: 6px 24px !important;
            border-color: #fff;
            border-style: solid;
            border-width: 1px;
            margin-right: 0;
            border-radius: 4px;
            text-transform: uppercase;
            font-weight: 600;
            line-height: 16px;
            letter-spacing: 1.79px; }
            header .snet-navbar_primary .snet-navbar_login .nav-item a.snet-button_outline:hover {
              background: rgba(255, 255, 255, 0.1); }

.wrapper {
  margin: 0 auto; }

.snet-navbar_secondary {
  padding: 12px 65px 12px 60px;
  background: #f1f1f1;
  border-bottom: solid 1px #DBE3E7; }
  .snet-navbar_secondary h1 {
    width: 30%;
    font-weight: normal;
    font-size: 18px;
    margin: 0; }
  .snet-navbar_secondary .snet-navbar_navigation {
    margin: 0;
    padding: 0; }
    .snet-navbar_secondary .snet-navbar_navigation .nav-item {
      margin-right: 40px; }
      .snet-navbar_secondary .snet-navbar_navigation .nav-item.active a {
        color: #4086FF;
        border-bottom: 2px solid #4086FF; }
      .snet-navbar_secondary .snet-navbar_navigation .nav-item a {
        color: #9B9B9B;
        font-size: 14px;
        margin: 0 !important;
        padding: 0 !important;
        border-bottom: 2px solid #f1f1f1; }
        .snet-navbar_secondary .snet-navbar_navigation .nav-item a:hover {
          color: #4086FF;
          border-bottom: 2px solid #4086FF; }

.snet-header_banner {
  height: 280px; }

.snet-card_wrapper_link {
  text-decoration: none; }
  .snet-card_wrapper_link:hover {
    text-decoration: none; }
    .snet-card_wrapper_link:hover .snet-card {
      background-color: #ebf2ff; }

.snet-card {
  width: 100%;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.07), 0 2px 1px -1px rgba(0, 0, 0, 0.07), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  padding-bottom: 4px; }
  .snet-card.full-height {
    height: 100%; }
  .snet-card.transparent {
    width: 100%;
    border-radius: 4px;
    background-color: transparent;
    box-shadow: none; }
    .snet-card.transparent h4.snet-card_title {
      border-bottom: none; }
  .snet-card h2, .snet-card h3, .snet-card h4 {
    font-weight: 400;
    padding: 12px 18px;
    border-bottom: 1px solid #F5F7F8;
    margin: 0;
    color: #212121; }
  .snet-card h2.snet-card_title {
    font-size: 20px; }
  .snet-card h3.snet-card_title {
    font-size: 18px; }
  .snet-card h4.snet-card_title {
    font-size: 16px;
    font-weight: 500;
    color: #666; }
  .snet-card .snet-card_content {
    padding: 0; }
  .snet-card img.snet-card_descriptionicon {
    width: 80px;
    height: 80px;
    margin-right: 8px;
    flex-shrink: 0; }
    .snet-card img.snet-card_descriptionicon.big {
      width: 100%;
      height: auto;
      display: block; }
  .snet-card p.snet-card_paragraph {
    color: #666;
    font-size: 14px;
    line-height: 19px;
    display: inline-block; }
  .snet-card ul.snet-card_list {
    list-style: none;
    margin: 16px 0 0 0;
    padding: 0;
    color: #666;
    font-size: 14px; }
    .snet-card ul.snet-card_list li {
      padding: 5px 0;
      border-bottom: 1px solid #F5F7F8; }
      .snet-card ul.snet-card_list li:last-child {
        border: none; }
      .snet-card ul.snet-card_list li:hover {
        background: #fafafa; }
        .snet-card ul.snet-card_list li:hover a {
          font-weight: 500; }
      .snet-card ul.snet-card_list li a {
        color: #4086FF;
        display: block;
        text-decoration: none !important;
        text-transform: capitalize; }
  .snet-card .snet-flex {
    display: flex;
    margin-bottom: 0px; }
  .snet-card .snet-card_buttonwrapper {
    position: relative; }
    .snet-card .snet-card_buttonwrapper .snet-card_buttons {
      position: absolute;
      bottom: 0; }
  .snet-card .snet-card_wrapper_homepage {
    display: flex; }
    .snet-card .snet-card_wrapper_homepage .snet-card_homepage_content h2 {
      font-size: 24px;
      color: #212121;
      letter-spacing: 0.3px;
      border-bottom: none; }
    .snet-card .snet-card_wrapper_homepage .snet-card_homepage_content p {
      font-size: 14px;
      color: #666;
      padding: 0 18px; }
    .snet-card .snet-card_wrapper_homepage img {
      flex-shrink: 0;
      width: 80px;
      height: 80px;
      margin-right: 18px; }
  .snet-card .snet-blog-entry {
    display: flex; }
    .snet-card .snet-blog-entry img {
      width: 180px;
      flex-shrink: 0;
      height: auto;
      margin-left: 18px; }
    .snet-card .snet-blog-entry .snet-blog-entry_content {
      margin-top: 24px; }
      .snet-card .snet-blog-entry .snet-blog-entry_content span {
        display: block;
        color: #9b9b9b;
        letter-spacing: 2px;
        font-size: 12px;
        padding: 0 18px; }
      .snet-card .snet-blog-entry .snet-blog-entry_content h4 {
        font-size: 20px;
        color: #212121;
        letter-spacing: 0.2px;
        line-height: 20px;
        border-bottom: none;
        padding: 8px 18px; }
      .snet-card .snet-blog-entry .snet-blog-entry_content p {
        font-size: 14px;
        color: #666;
        padding: 0 18px; }
  .snet-card .snet-event-entry .snet-event-entry_content {
    margin-top: 24px; }
    .snet-card .snet-event-entry .snet-event-entry_content span {
      display: block;
      color: #9b9b9b;
      letter-spacing: 2px;
      font-size: 12px;
      padding: 0 18px; }
    .snet-card .snet-event-entry .snet-event-entry_content h4 {
      font-size: 16px;
      color: #4086FF;
      letter-spacing: 0.2px;
      line-height: 20px;
      border-bottom: none;
      padding: 8px 18px; }
    .snet-card .snet-event-entry .snet-event-entry_content p {
      font-size: 14px;
      color: #666;
      padding: 0 18px; }
  .snet-card.inner-card {
    background: #fefefe; }
    .snet-card.inner-card .snet-card_title {
      font-size: 16px !important;
      padding: 8px 18px;
      margin-bottom: 0; }
    .snet-card.inner-card .snet-card_wrapper {
      padding: 10px 18px; }
      .snet-card.inner-card .snet-card_wrapper p {
        margin: 0; }

/*==============================================================================*/
/* Heading Styles */
/*==============================================================================*/
h1 {
  font-size: 24px;
  letter-spacing: 0.20px; }

h1 .title-anchor-link {
  display: none; }

h2 .title-anchor-link {
  display: none; }

h3 .title-anchor-link {
  display: none; }

h4 .title-anchor-link {
  display: none; }

h5 .title-anchor-link {
  display: none; }

/*==============================================================================*/
/* Left Side Navigation */
/*==============================================================================*/
.snet-nav_list {
  margin: 0;
  padding: 0;
  list-style: none; }
  .snet-nav_list li {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #F5F7F8;
    overflow: hidden; }
    .snet-nav_list li a {
      display: inline-block;
      width: 100%;
      color: #666;
      padding: 10px 10px 10px 24px;
      font-size: 14px;
      font-weight: 400;
      min-height: 40px;
      display: block;
      text-transform: capitalize;
      letter-spacing: 0; }
      .snet-nav_list li a .e_l,
      .snet-nav_list li a .e_m {
        display: none; }
      .snet-nav_list li a:hover {
        color: #4086FF;
        background: #FAFAFA;
        text-decoration: none; }
    .snet-nav_list li ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      .snet-nav_list li ul li {
        border-bottom: none; }
        .snet-nav_list li ul li a {
          padding: 10px 10px 10px 32px;
          font-size: 13px;
          color: #999; }
    .snet-nav_list li.active a {
      color: #4086FF;
      background: #FAFAFA;
      text-decoration: none; }
    .snet-nav_list li.has-submenu a:not(.collapsed) .e_m {
      display: none; }
    .snet-nav_list li.has-submenu a:not(.collapsed) .e_l {
      display: inline-block; }
    .snet-nav_list li.has-submenu a.collapsed .e_m {
      display: inline-block; }
    .snet-nav_list li.has-submenu a.collapsed .e_l {
      display: none; }

/*==============================================================================*/
/* Right Side Navigation */
/*==============================================================================*/
.snet-nav_list_secondary ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  .snet-nav_list_secondary ul li {
    margin: 0 0 0 14px;
    padding: 0;
    display: block;
    width: 100%; }
    .snet-nav_list_secondary ul li a {
      display: inline-block;
      border-left: 2px solid transparent;
      color: #9B9B9B;
      font-size: 14px;
      padding: 5px 10px 5px 24px;
      font-size: 14px;
      font-weight: 400;
      min-height: 30px;
      text-transform: capitalize; }
      .snet-nav_list_secondary ul li a:hover {
        color: #4086FF;
        text-decoration: none; }
    .snet-nav_list_secondary ul li.active a {
      color: #4086FF;
      text-decoration: none;
      border-left: 2px solid #4086FF; }

.snet-card_wrapper {
  padding: 12px 18px;
  border-bottom: 1px solid #F5F7F8; }

/*==============================================================================*/
/* Feedback Links */
/*==============================================================================*/
.snet-card_feedbacklinks {
  text-transform: uppercase;
  display: block;
  margin: 0 0 8px 14px;
  letter-spacing: 1.25px;
  color: #4086FF;
  font-size: 14px;
  font-weight: 600; }
  .snet-card_feedbacklinks:hover {
    text-decoration: none; }

/*==============================================================================*/
/* Breadcrumbs */
/*==============================================================================*/
.snet-breadcrumb {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 12px; }

.snet-breadcrumb li {
  display: inline-block; }

.snet-breadcrumb li a {
  display: inline-block;
  color: #4086FF; }

.snet-breadcrumb li:after {
  content: ">";
  display: inline-block; }

.snet-breadcrumb li:last-child:after {
  display: none; }

.snet-starrating {
  padding: 0 0 0 28px; }
  .snet-starrating i {
    font-size: 20px;
    color: rgba(161, 163, 168, 0.35); }
    .snet-starrating i:hover {
      color: #FFC200; }

/*==============================================================================*/
/* Main Contents */
/*==============================================================================*/
.snet-card .snet-card_maincontents {
  padding: 18px;
  color: #666;
  font-size: 14px;
  line-height: 21px;
  overflow: hidden; }

.snet-card .snet-card_maincontents h1 {
  padding: 0;
  border: none;
  color: #212112;
  font-size: 22px;
  letter-spacing: 0.23px;
  margin-bottom: 16px;
  font-weight: 500; }
.snet-card .snet-card_maincontents h2 {
  padding: 0;
  border: none;
  color: #212112;
  font-size: 20px;
  letter-spacing: 0.21px;
  margin-bottom: 14px;
  font-weight: 500; }
.snet-card .snet-card_maincontents h3 {
  padding: 0;
  border: none;
  color: #212112;
  font-size: 18px;
  letter-spacing: 0.19px;
  margin-bottom: 12px;
  font-weight: 500; }
.snet-card .snet-card_maincontents h4 {
  padding: 0;
  border: none;
  color: #212112;
  font-size: 16px;
  letter-spacing: 0.17px;
  margin-bottom: 10px;
  font-weight: 500; }
.snet-card .snet-card_maincontents h5 {
  padding: 0;
  border: none;
  color: #212112;
  font-size: 14px;
  letter-spacing: 0.15px;
  margin-bottom: 8px;
  font-weight: 500; }
.snet-card .snet-card_maincontents h6 {
  padding: 0;
  border: none;
  color: #212112;
  font-size: 14px;
  letter-spacing: 0.15px;
  margin-bottom: 8px;
  font-weight: 400; }
.snet-card .snet-card_maincontents p {
  margin-top: 0;
  font-size: 14px;
  line-height: 21px;
  color: #666;
  letter-spacing: 0px; }
  .snet-card .snet-card_maincontents p.spacer {
    display: block;
    width: 100%;
    height: 1px; }
  .snet-card .snet-card_maincontents p + h1, .snet-card .snet-card_maincontents p + h2, .snet-card .snet-card_maincontents p + h3, .snet-card .snet-card_maincontents p + h4, .snet-card .snet-card_maincontents p + h5, .snet-card .snet-card_maincontents p + h6 {
    margin-top: 30px; }
.snet-card .snet-card_maincontents img {
  display: block;
  width: 100%;
  margin-bottom: 20px; }
.snet-card .snet-card_maincontents code {
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  color: #8824D1;
  background: #EEEEEE;
  padding: 0 5px;
  border-radius: 2px; }
.snet-card .snet-card_maincontents ul {
  list-style: disc; }
.snet-card .snet-card_maincontents ol {
  list-style: decimal; }
.snet-card .snet-card_maincontents a {
  color: #4086FF;
  font-weight: 600; }
  .snet-card .snet-card_maincontents a:hover {
    color: #4086FF;
    text-decoration: underline; }

.snet-card .snet-card_maincontents .snet-forum_question {
  width: 100%;
  padding: 16px 0 0 0;
  border-top: #DBE3E7 solid 1px;
  margin: 16px 0 0 0; }

.snet-card .snet-card_maincontents .snet-forum_question a {
  color: #4086FF;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0 auto;
  letter-spacing: 1.25px;
  font-weight: 500; }

/*==============================================================================*/
/* Responsive */
/*==============================================================================*/
@media only screen and (max-width: 575px) {
  /* xs */
  .wrapper {
    width: 90%; } }
@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* sm */
  .wrapper {
    width: 576px; }

  .snet-nav_list li a {
    padding: 10px 8px 10px 8px; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* md */
  .wrapper {
    width: 768px; } }
@media only screen and (min-width: 992px) and (max-width: 1279px) {
  /* lg */
  .wrapper {
    width: 992px; }

  .snet-navbar_navigation .nav-item a {
    font-size: 14px; }

  .snet-navbar_login .nav-item a {
    font-size: 14px; }

  .nav-item {
    margin-right: 24px; }

  .snet-navbar_login .nav-item a.snet-button_outline {
    cursor: pointer;
    padding: 6px 20px !important;
    font-size: 14px;
    letter-spacing: 1.29px; } }
@media only screen and (min-width: 1280px) {
  /* xl */
  .wrapper {
    width: 1280px; } }
.snet-tagline {
  font-size: 18px;
  font-weight: 300;
  color: #212121;
  line-height: 20px; }

/* 
    Created on  : Jan 15, 2020, 12:12:14 PM
    Author      : Sujith Varma [sujith.varma@singularitynet.io]
    NOTES       : THIS FILES NEEDS OPTIMIZATION
*/
/* Homepage Styles */
.snet-herobanner {
  height: 280px;
  background: url("main_banner.png") top center no-repeat; }
  .snet-herobanner h2 {
    color: #fff; }
  .snet-herobanner p {
    color: #fff; }

section {
  margin-bottom: 64px; }
  section h2 {
    font-size: 22px;
    margin-bottom: 24px;
    font-weight: 600;
    color: #212121; }

.snet-card_topimage {
  height: 164px;
  width: 100%;
  background: #f1f1f1;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  overflow: hidden; }
  .snet-card_topimage img {
    display: block;
    height: 100%; }

.snet-card_innercontents {
  padding: 18px;
  color: #666;
  font-size: 14px;
  line-height: 21px;
  position: relative; }
  .snet-card_innercontents .snet-card_innercontents_bottomlinks {
    margin-top: 20px;
    overflow: hidden; }

.fullwidth .snet-overviewimage img {
  display: block;
  width: 80%;
  margin: 0 auto; }
.fullwidth h3.snet-card_title {
  font-size: 22px;
  margin-bottom: 0;
  font-weight: 600;
  color: #212121;
  border-bottom: none;
  padding: 18px; }
.fullwidth p.big {
  margin: 0;
  font-weight: 300;
  font-size: 18px;
  color: #666; }
.fullwidth ul.snet-card_list {
  margin: 0 0 8px 0; }
.fullwidth .snet-platformcards img {
  display: block;
  height: 64px;
  margin: 0 auto; }
.fullwidth .snet-platformcards span {
  display: block;
  font-size: 18px;
  text-align: center;
  margin-top: 16px; }

.sticky-top.sticky-with-margin {
  top: 50px; }

/*# sourceMappingURL=newcss.css.map */
