/* 
    Created on  : Jan 15, 2020, 12:12:14 PM
    Author      : Sujith Varma [sujith.varma@singularitynet.io]
    NOTES       : THIS FILES NEEDS OPTIMIZATION
*/
/* Homepage Styles */
section.snet-herobanner{
    height: 280px;
    background:url("../images/main_banner.png") #414e8e top center no-repeat;
    margin-bottom:0;
    h2{
        color: #fff;
        font-size: 26px;
    }
    p{
        color: #fff;        
    }
    .snet-herobanner_tagline{
        font-size: 22px;
        font-weight: 500;
        display: block;
    }
}
.snet-card_margintop_fix{
    margin-top: -50px;
}
.snet-card{
    .snet-home_cards{
        padding: 18px;
        font-size: 14px;
        color: #666;
        h2{
            text-align: center;
            border: none;
            font-size: 20px;            
        }
        p{
            text-align: center;
            margin: 0;
        }
        img{
            display: block;
            width: 80px;
            height: 80px;
            margin: 0 auto;            
        }
    }
}