/* 
    Created on  : Jan 15, 2020, 12:12:14 PM
    Author      : Sujith Varma [sujith.varma@singularitynet.io]
    NOTES       : THIS FILES NEEDS OPTIMIZATION
*/
/* Homepage Styles */
.snet-herobanner{
    height: 280px;
    background:url("../images/main_banner.png") top center no-repeat;
    h2{
        color: #fff;
    }
    p{
        color: #fff;        
    }
}

a.main-url:link{
    overflow:hidden;
    display:block;
    &:hover{
        .snet-blog-entry{
            text-decoration:none!important;    
            .snet-blog-entry_content{
                text-decoration:none!important;    
                span,
                h4,
                div,
                p{
                    text-decoration:none!important;
                    color:red;
                    &:hover{
                        text-decoration:none!important;                              
                    }
                }

            }
        }            
    }
}