/* 
    Created on  : Jan 15, 2020, 12:12:14 PM
    Author      : Sujith Varma [sujith.varma@singularitynet.io]
    NOTES       : THIS FILES NEEDS OPTIMIZATION
*/
body{
    margin:0;
    padding: 0;
    background: #fafafa;
    color: #212121;    
    font-family:Muli,sans-serif;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}
header{
    background-color: #220D3A; 
    .snet-navbar_primary{
        padding: 12px 0px 4px 15px;
        box-shadow: 0 2px 6px 0 rgba(0,0,0,0.3);   
        h1{
            font-size: 16px;            
        }
        .navbar-toggler-icon i{
            color: #fff;
        }    
        .navbar-brand {
            margin: 0;
            padding: 0;
            img{
                width: 172px;    
            }    
        } 
        .snet-navbar_menu,
        .snet-navbar_login{
            margin-bottom: 10px;    
            .nav-item{
                margin-right: 40px;
                position: relative;
            }
            .nav-item:last-child{
                margin-right:0px;
            }            
        }
        .snet-navbar_menu{          
            .nav-item{
                cursor:pointer;
                .dropdown-menu,
                .snet_slidingDropdown{
                    position: absolute;
                    top:80%;
                    left: -1px;
                    min-width: 105%;
                    width: auto;                    
                    //background-color: #220D3A;   
                    background-color: #fff;                       
                    //max-height:0;
                    overflow: hidden;
                    transition: max-height 0.3s ease-in;   
                    z-index: 1025;                    
                    a{
                        font-size:16px;                        
                        padding: 10px 16px!important;
                        color: #9B9B9B;
                        border-bottom: 2px solid #fff;   
                        &:hover{
                            color: #220D3A;
                        }
                    }
                }                
                &.active,
                &:hover{
                    a{
                        color: #fff;
                        border-bottom: 2px solid #fff;   
                    }
                    .dropdown-menu,
                    .snet_slidingDropdown{
                        background-color: #220D3A;  
                        background-color: #fff;                          
                        max-height: 200px;
                        a{
                            padding: 10px 16px!important;
                            color: #9B9B9B;
                            border-bottom: 2px solid #fff;   
                            &:hover{
                                color: #220D3A;
                            }
                        }
                    }
                }
                a{
                    color: #9B9B9B;
                    font-size: 16px;
                    margin: 0!important;
                    padding: 0 0 4px 0!important;
                    border-bottom: 2px solid #220D3A;                     
                }   
            }            
        }
        .snet-navbar_login{
            margin-bottom: 6px;  
            .nav-item{
                align-self: center;
                a{
                    color: #fff;
                    font-size: 16px;
                    margin: 0!important;
                    padding: 0!important;     
                    &.snet-button_outline{
                        cursor: pointer;
                        padding: 6px 24px!important;
                        border-color: #fff;
                        border-style: solid;
                        border-width: 1px;
                        margin-right: 0;
                        border-radius: 4px;   
                        text-transform: uppercase;
                        font-weight: 600;
                        line-height: 16px;
                        letter-spacing: 1.79px;   
                        &:hover{
                            background: rgba(256,256,256,.1);                            
                        }
                    }
                }
            }                     
        }   
        /*
        .dropdown:hover>.dropdown-menu {
            display: block;
            margin: -0.125rem 0 0;            
        } 
        */
    }   
}

.wrapper{
    margin: 0 auto;
}



.snet-navbar_secondary{
    padding: 12px 0px 12px 0px;  
    background: #f1f1f1;
    border-bottom: solid 1px #DBE3E7;    
    z-index:1024;
    h1{
        width: 30%;
        font-weight: normal;
        font-size: 18px;
        margin: 0;     
        padding: 0 0 0 15px;
        display: inline-block;
    }
    #secondary-menu{
        display: inline-block;                        
    }
    .snet-navbar_navigation{
        margin: 0;
        padding: 0;
        .nav-item{
            margin-right:40px;
            &.active{
                a{
                    color: #4086FF;
                    border-bottom: 2px solid #4086FF;                      
                }
            }
            a{
                color: #9B9B9B;
                font-size: 14px;
                margin: 0!important;
                padding: 0!important;
                border-bottom: 2px solid #f1f1f1;    
                &:hover{
                    color: #4086FF;
                    border-bottom: 2px solid #4086FF;                       
                }
            }   
        }        
    }    
}

.snet-header_banner{
    height: 280px;
}
.snet-card{
    width: 100%;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.07), 0 2px 1px -1px rgba(0,0,0,0.07), 0 1px 3px 0 rgba(0,0,0,0.1);
    padding-bottom: 4px;
    &.full-height{
        height: 100%;        
    }
    &.transparent{
        width: 100%;
        border-radius: 4px;
        background-color: transparent;
        box-shadow: none;
        h4{
            &.snet-card_title{
                border-bottom: none;
            }            
        }
    }
    h2,h3,h4{
        font-weight: 400;
        padding: 12px 18px;
        border-bottom: 1px solid #F5F7F8;   
        margin: 0;     
        color: #212121;
    }
    h2{
        &.snet-card_title{
            font-size: 20px;
        }
    }
    h3{
        &.snet-card_title{
            font-size: 18px;
        }
    }
    h4{
        &.snet-card_title{
            font-size: 16px;
            font-weight: 500;
            color: #666;
        }        
    }
    .snet-card_content{
        padding: 0;    
    }
    img{
        &.snet-card_descriptionicon{
            width: 80px;  
            height: 80px;              
            margin-right: 8px;
            flex-shrink: 0;
            &.big{
                width:100%;
                height: auto;
                display: block;
            }
        }
    }
    p{
        &.snet-card_paragraph{
            color: #666;
            font-size: 14px;
            line-height: 19px;
            display: inline-block;
        }

    }
    ul{
        &.snet-card_list{
            list-style: none;
            margin: 16px 0 0 0;
            padding: 0;
            color: #666;
            font-size: 14px;            
            li{
                padding: 5px 0;
                border-bottom: 1px solid #F5F7F8;  
                &:last-child{
                    border: none;
                }
                &:hover{
                    background: #fafafa;
                    a{
                        font-weight: 500;
                    }
                }
                a{
                    color: #4086FF;
                    display: block;
                    text-decoration: none!important;
                    text-transform: capitalize;
                }
            }
        }
    }
    .snet-flex{
        display: flex;
        margin-bottom: 0px;
    }
    .snet-card_buttonwrapper{
        position:relative;
        .snet-card_buttons{
            position: absolute;
            bottom: 0;
        }
    }
    .snet-card_wrapper_homepage{
        display: flex;
        background:red;
        .snet-card_homepage_content{
            h2{
                font-size: 24px;
                color: #212121;
                letter-spacing: 0.3px;
                border-bottom: none;
            }
            p{
                font-size: 14px;
                color: #666;
                padding: 0 18px;
            }
            img{
                flex-shrink: 0;
                width: 80px;
                height: 80px;
                margin: 0 auto;
            }            
        }
    }
    .snet-blog-entry{
        display: flex;
        margin-bottom:16px;
        img{
            width: 180px;
            flex-shrink: 0;
            height: auto;
            margin-left: 18px;
        }
        .snet-blog-entry_content{
            margin-top:24px;
            span{
                display: block;
                color: #9b9b9b;
                letter-spacing: 2px;
                font-size: 12px;
                padding: 0 18px;
            }
            h4{
                font-size: 20px;
                color: #212121;
                letter-spacing: 0.2px;
                line-height: 20px;
                border-bottom: none;
                padding: 8px 18px;
            }
            p{
                font-size: 14px;
                color: #666;
                padding: 0 18px;
            }  
        }
    }
    &.inner-card{
        background:#fefefe;
        .snet-card_title{
            font-size: 16px!important;
            padding: 8px 18px;
            margin-bottom: 0;
        }
        .snet-card_wrapper{
            padding: 10px 18px;
            p{
                margin: 0;
            }
        }

    }
} 
/*==============================================================================*/
/* Heading Styles */
/*==============================================================================*/
h1{ font-size: 24px;     letter-spacing: 0.20px;}
h1 .title-anchor-link{ display: none;}
h2 .title-anchor-link{ display: none;}
h3 .title-anchor-link{ display: none;}
h4 .title-anchor-link{ display: none;}
h5 .title-anchor-link{ display: none;}
//table {border-style: groove}
/*==============================================================================*/
/* Left Side Navigation */
/*==============================================================================*/
.snet-nav_list{
    margin: 0;
    padding: 0;   
    list-style: none;    
    li{
        margin: 0;
        padding: 0;    
        border-bottom: 1px solid #F5F7F8; 
        overflow:hidden;
        a{
            display: inline-block;
            width: 100%;
            color: #666;     
            padding:10px 10px 10px 24px;
            font-size: 14px;
            font-weight: 400;
            min-height: 40px;
            display: block;
            text-transform: capitalize;
            letter-spacing: 0;   
            .e_l,
            .e_m{
                display: none;
            }
            &:hover{
                color: #4086FF;
                background: #FAFAFA;
                text-decoration: none;                
            }         
        }          
        ul{
            list-style: none;
            margin: 0;
            padding: 0;
            li{
                border-bottom: none;                 
                a{
                    padding:10px 10px 10px 32px;
                    font-size: 13px;
                    color: #999;
                }
            }
        }
        &.active{
            a{
                color: #4086FF;
                background: #FAFAFA;
                text-decoration: none;                
            }
        }
        &.has-submenu{
            a{
                &:not(.collapsed){
                    .e_m{
                        display: none;
                    }
                    .e_l{
                        display: inline-block;
                    }                     
                }
                &.collapsed{
                    .e_m{
                        display: inline-block;
                    }
                    .e_l{
                        display: none;
                    }                
                }  
            }
        }
    }    
}

/*==============================================================================*/
/* Right Side Navigation */
/*==============================================================================*/
.snet-nav_list_secondary{  
    ul{
        margin: 0;
        padding: 0;   
        list-style: none;    
        li{
            margin: 0 0 0 14px;
            padding: 0;      
            display: block;   
            width:100%;
            a{
                display: inline-block;
                border-left: 2px solid transparent;
                color: #9B9B9B;    
                font-size: 14px;    
                padding:5px 10px 5px 24px;
                font-size: 14px;
                font-weight: 400;
                min-height: 30px;     
                text-transform: capitalize;
                &:hover{
                    color: #4086FF;
                    text-decoration: none;                    
                }
            }
            &.active{
                a{
                    color: #4086FF;
                    text-decoration: none;                    
                    border-left: 2px solid #4086FF;                    
                }
            }
        }
    }
}

.snet-card_wrapper{
    padding:12px 18px;
    border-bottom: 1px solid #F5F7F8;     
}
/*==============================================================================*/
/* Feedback Links */
/*==============================================================================*/
.snet-card_feedbacklinks{
    text-transform: uppercase;
    display: block;
    margin: 0 0 8px 14px;
    letter-spacing: 1.25px;
    color: #4086FF;
    font-size: 14px;
    font-weight: 600;
    &:hover{
        text-decoration: none;        
    }
}

/*==============================================================================*/
/* Breadcrumbs */
/*==============================================================================*/
.snet-breadcrumb{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 12px;
}
.snet-breadcrumb li{
    display: inline-block;
}
.snet-breadcrumb li a{
    display: inline-block;
    color: #4086FF;
}
.snet-breadcrumb li:after{
    content: ">";
    display: inline-block;
}
.snet-breadcrumb li:last-child:after{
    display: none;
}

.snet-starrating{
    padding:0 0 0 28px;
    i{
        font-size: 20px;
        color: rgba(161,163,168,.35);
        &:hover{
            color: #FFC200;        
        }
    }    
}
/*==============================================================================*/
/* Main Contents */
/*==============================================================================*/
.snet-card{
    .snet-card_maincontents{
        padding: 18px;
        color: #666;
        font-size: 14px;
        line-height: 21px;
        overflow: hidden;
    }   
}
@mixin header-generator($font-size, $letter-spacing, $margin-bottom, $font-weight:500) {
    padding: 0;
    border: none;
    color: #212112;
    font-size:$font-size + 0px;
    letter-spacing: $letter-spacing + 0px;
    margin-bottom: $margin-bottom + 0px;    
    font-weight: $font-weight;    
}
.snet-card{
    .snet-card_maincontents{
        h1{
            @include header-generator(22,0.23,16);              
        }
        h2{
            @include header-generator(20,0.21,14); 
        }
        h3{
            @include header-generator(18,0.19,12);               
        }
        h4{
            @include header-generator(16,0.17,10);              
        }
        h5{
            @include header-generator(14,0.15,8);              
        }
        h6{
            @include header-generator(14,0.15,8,400);               
        }
        p{
            margin-top: 0;   
            font-size:14px;
            line-height:22px;
            color:#666;
            letter-spacing:0px;
            &.spacer{
                display: block;
                width: 100%;
                height: 1px;                
            }
            &+h1,
            &+h2,
            &+h3,
            &+h4,
            &+h5,
            &+h6{
                margin-top: 30px;                 
            }            
        }
        img{
            display: block;
            width: 100%;
            margin-bottom: 20px;            
        }
        code{
            font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
            color: #8824D1;
            background: #EEEEEE;
            padding: 0 5px;
            border-radius: 2px;
        }
        ul{
            list-style: disc;
        }
        ol{
            list-style:decimal;
        }
        a{
            color: #4086FF;
            font-weight: 600;
            &:hover{
                color: #4086FF;
                text-decoration: underline;                
            }
        }
        table{
            border: solid 1px #f1f1f1;
            width: 100%;
            margin-bottom:24px;
            tr{
                th{
                    font-weight: 600;
                    color: #212121;
                    padding: 6px;
                }
                td{
                    color: #666;
                    padding: 4px 6px;     
                }
                &:nth-child(2n){
                    td{
                        background: #f6f6f6;                        
                    }
                }  
            }
        }
        pre{
            overflow: auto;
            border-left: 8px solid #212121;
            margin: 0 0 1.25rem 0;
            -webkit-overflow-scrolling: touch;
            font-size: 0.9rem;            
            &.highlight{
                background: #220D3A;
                color: #f8f8f2;
                padding: 1.5625rem;   
                code{
                    color: #f8f8f2;
                    background: #220D3A;   
                    .c{color:#75715e}
                    .err{color:#960050;background-color:#1e0010}
                    .k{color:#66d9ef}
                    .l{color:#ae81ff}
                    .n{color:#f8f8f2}
                    .o{color:#f92672}
                    .p{color:#f8f8f2}
                    .ch{color:#75715e}
                    .cm{color:#75715e}
                    .cp{color:#75715e}
                    .cpf{color:#75715e}
                    .c1{color:#75715e}
                    .cs{color:#75715e}
                    .gd{color:#f92672}
                    .ge{font-style:italic}
                    .gi{color:#a6e22e}
                    .gs{font-weight:bold}
                    .gu{color:#75715e}
                    .kc{color:#66d9ef}
                    .kd{color:#66d9ef}
                    .kn{color:#f92672}
                    .kp{color:#66d9ef}
                    .kr{color:#66d9ef}
                    .kt{color:#66d9ef}
                    .ld{color:#e6db74}
                    .m{color:#ae81ff}
                    .s{color:#e6db74}
                    .na{color:#a6e22e}
                    .nb{//color:#f8f8f2;
                        color:#bda0d4;}
                    .nc{color:#a6e22e}
                    .no{color:#66d9ef}
                    .nd{color:#a6e22e}
                    .ni{color:#f8f8f2}
                    .ne{color:#a6e22e}
                    .nf{color:#a6e22e}
                    .nl{color:#f8f8f2}
                    .nn{color:#f8f8f2}
                    .nx{color:#a6e22e}
                    .py{color:#f8f8f2}
                    .nt{color:#f92672}
                    .nv{color:#f8f8f2}
                    .ow{color:#f92672}
                    .w{color:#f8f8f2}
                    .mb{color:#ae81ff}
                    .mf{color:#ae81ff}
                    .mh{color:#ae81ff}
                    .mi{color:#ae81ff}
                    .mo{color:#ae81ff}
                    .sa{color:#e6db74}
                    .sb{color:#e6db74}
                    .sc{color:#e6db74}
                    .dl{color:#e6db74}
                    .sd{color:#e6db74}
                    .s2{color:#e6db74}
                    .se{color:#ae81ff}
                    .sh{color:#e6db74}
                    .si{color:#e6db74}
                    .sx{color:#e6db74}
                    .s1{color:#e6db74}
                    .ss{color:#e6db74}
                    .bp{color:#f8f8f2}
                    .fm{color:#a6e22e}
                    .vc{color:#f8f8f2}
                    .vg{color:#f8f8f2}
                    .vi{color:#f8f8f2}
                    .vm{color:#f8f8f2}
                    .il{color:#ae81ff}                    
                }
            }            
        }        
    }
} 
.snet-card .snet-card_maincontents .snet-forum_question{
    width: 100%;
    padding: 16px 0 0 0;    
    border-top: #DBE3E7 solid 1px;
    margin: 16px 0 0 0;
}
.snet-card .snet-card_maincontents .snet-forum_question a{
    color: #4086FF;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0 auto;
    letter-spacing: 1.25px;
    font-weight: 500;
}

.last-item-list{
    display: none;
}
.snet-navbar_secondary .snet-navbar_navigation .dropdown-menu-secondary{
    //background: red!important;
    border-radius: 2px;
    a{
        display: block;
        padding: 5px 10px!important;
        &:last-child{
            border-bottom: none;
        }
        &:hover{
            color: #4086FF;
        }
    }
}


/*==============================================================================*/
/* Responsive */
/*==============================================================================*/
@media only screen and (max-width: 575px) {
    /* xs */    
    body{
        //background: red!important; 
    }
    .snet-blog-entry{
        display: block!important;
        img.snet-card_descriptionicon{
            display: block!important;
            margin: 0 auto!important;
        }
        .snet-blog-entry_content{
            display: block!important;
        }
    }
    .wrapper{
        width:90%;
    }  
    header{
        .snet-navbar_primary{
            padding: 12px 5px 4px 20px;
            .nav-item{
                padding:4px 0;
                .material-icons{
                    display: none;
                }
            }
        }        
    }
    .snet-herobanner{
        height: auto!important;
    }    
    .snet-card_margintop_fix{
        margin-top: 10px!important;
    }
    #main-menu{
        //position: absolute;
        //background: #220D3A;
        //z-index: 1026;        
        //width: 100%;
    }
    .snet-navbar_secondary{
        padding: 12px 30px 12px 30px;
        h1{
            display: none;
        }
        #secondary-menu{
            //padding-left: 15px;              
            margin:0 auto;
            .snet-navbar_navigation{
                display: block;
                li.nav-item{
                    display: inline-block;
                    margin-right: 20px;
                    display: none;  /* Hide all */
                    &:nth-child(-n+3) { 
                        display: inline-block; 
                    }  
                    &.last-item-list{
                        display: inline-block; 
                        position: relative;                        
                        .dropdown-menu{
                            position: absolute;
                        }
                    }
                }
            }    
        }        
    }  
    .byuser-cards{
        margin-bottom: 40px;
    }       
}
@media only screen and (min-width: 576px) and (max-width:767px){
    /* sm */    
    body{
        //background: yellow!important; 
    }   
    .wrapper{
        width:576px;
    }     
    #secondary-menu{
        padding-left: 15px;    
    }    
    .snet-nav_list{
        li{
            a{
                padding: 10px 8px 10px 8px;                
            }
        }
    }
    .snet-navbar_secondary{
        h1{
            display: none;
        }
        #secondary-menu{
            margin:0 auto;
            .snet-navbar_navigation{
                display: block;
                li.nav-item{
                    display: inline-block;
                    margin-right: 20px;
                    display: none;  /* Hide all */
                    &:nth-child(-n+3) { 
                        display: inline-block; 
                    }  
                    &.last-item-list{
                        display: inline-block; 
                        position: relative;                        
                        .dropdown-menu{
                            position: absolute;
                        }
                    }
                }
            }    
        }        
    }  
    .byuser-cards{
        margin-bottom: 40px;
    }    
}
@media only screen and (min-width: 768px) and (max-width:991px){
    /* md */    
    body{
        //background: blue!important;
    }    
    .wrapper{
        width:768px;
    }   
    #secondary-menu{
        padding-left: 15px;    
    }
    .snet-navbar_secondary{
        h1{
            display: none;
        }
        #secondary-menu{
            margin:0 auto;
            .snet-navbar_navigation{
                display: block;
                li{
                    &:not(.last-item-list){
                        display: inline-block;                        
                    }
                }
            }    
        }        
    }
}
@media only screen and (min-width: 992px) and (max-width:1279px) {
    /* lg */    
    body{
        //background: green!important;
    }    
    .wrapper{
        width:992px;
    }      
    .snet-navbar_navigation .nav-item a{
        font-size: 14px;
    }
    .snet-navbar_login .nav-item a{
        font-size: 14px;
    }
    .nav-item{
        margin-right: 24px;
    }    
    .snet-navbar_login .nav-item a.snet-button_outline{
        cursor: pointer;
        padding: 6px 20px!important;
        font-size: 14px;
        letter-spacing: 1.29px;    
    }    
}
@media only screen and (min-width: 1280px) {
    /* xl */
    body{
        //background: purple!important;
    }  
    .wrapper{
        width:1280px;
    }    
}

.snet-tagline{
    font-size: 18px;
    font-weight: 300;
    color: #212121;
    line-height: 20px;
}

@import "home";
@import "overview";

.sticky-top{
    &.sticky-with-margin{
        top:50px;
    }    
}

