/**
 * Variables (_variables.scss)
 */

/* ----- Colors ----- */
$light-blue:#3794FC;
$dark-blue:#252E94;
$light-grey-text:#69778F;

/* ----- Font families ----- */
$font-family-primary: 'Muli', sans-serif;
$font-family-secondary: 'Muli', sans-serif;


/* ----- Mixin ----- */
@mixin common-headings($font-size, $alignment){
    font-weight: 600;
    font-size: $font-size * 1px;  
    line-height:($font-size * 1.5)* 1px;    
    text-align: $alignment;    
}
@mixin common-text($font-size, $alignment){
    font-family: $font-family-primary;    
    color: $light-grey-text; 	
    font-weight: 400;
    font-size: $font-size * 1px;  
    line-height:($font-size * 1.6)* 1px;     
    text-align: $alignment;    
}

@mixin heading-style-primary ($font-size, $alignment) {
    font-family: $font-family-primary;
    @include common-headings($font-size, $alignment);

}
@mixin heading-style-secondary($font-size, $alignment) {
    font-family: $font-family-secondary;
    @include common-headings($font-size, $alignment);
}